body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#main_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#id_panel {
    text-align: right;
    font-style: italic;
    color: #666;
}

.create_input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#create_book_container p {
    font-weight: bold;
    margin: 0;
}

#availability_input {
    margin-top: 5px;
}

#button_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#apply, #cancel {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#apply:hover, #cancel:hover {
    background-color: #005a9c;
}

#apply:disabled{
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
